[Unit]
Description = Automation Service - Extractor
After = network.target

[Service]
User = igenetech
Group = igenetech
WorkingDirectory = /opt/automation/extractor
ExecStart = /bin/bash /opt/automation/extractor/extractor.sh
ExecStop = /bin/kill -15 $MAINPID
PrivateTmp = true
Restart=on-failure

[Install]
WantedBy = multi-user.target
